/* section h2:first-child {
  font-size: 3rem;
}
section.knowledge {
  display: grid;
  grid-template-areas:
    "myknowledge"
    "myskills";
} */
/* @media (min-width: 700px) {
  section.knowledge {
    grid-template-areas: "myknowledge";
    grid-template-columns: 1fr;
  }
} */

/*////////////////////////*/
/* * Knowledge section */
/*////////////////////////*/

/* section.knowledge {
  align-items: center;
  padding: 8em 1em;
  margin-bottom: 15vw;
} */

/* .myknowledge {
  grid-area: myknowledge;
  display: flex;
  flex-direction: column;
  align-content: right;
} */

/* .myskills {
  grid-area: myskills;
  display: flex;
  flex-direction: column;
} */
