.pitch-btn {
  margin: 2em;
}

.pitch-close-btn {
  position: absolute;
  right: 1em;
  top: 1em;
  font-size: 0.8em;
  background-color: transparent;
}

div.pitch {
  /* display: none; */
  z-index: 100;
  /* transition: cubic-bezier(0.075, 0.82, 0.165, 1); */
  position: fixed;
  padding: 3em;
  /* height: 80%; */
  top: 20%;
  bottom: 20%;
  left: 50%;
  right: 10%;
  margin: auto;
  background-color: black;
  color: white;
  border-radius: 15px;
  border: solid white 4px;
  backdrop-filter: blur(2px);
  /* border: #070b5e7a 1px solid; */
}

.pitch-text {
  /* margin: auto;
  width: 50%; */
}

/* .pitch span {
  color: rgb(253, 120, 120);
  text-shadow: 1px 1px black;
} */
