@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&display=swap");

#RPS {
  font-family: "Barlow Semi Condensed", sans-serif;
  background-image: radial-gradient(
    circle at center top,
    hsl(214, 47%, 23%),
    hsl(237, 49%, 15%)
  );
  display: grid;
  grid-template-rows: 1fr 3fr;
}

.winner {
  /* background: radial-gradient(#e66465, #9198e5); */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.buttonshadow {
  box-shadow: rgba(0, 0, 0, 0.171) inset 0px 3px 0px 3px;
}
