@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  max-width: 1280px;
  margin: 0 auto;
  margin: 0rem 2rem;
  text-align: center;
}

.LandingPageBG {
  background-image: url("./routes/assets/landscape5_2.png");
  background-size: 100% 100%;
  background-position: center;
  opacity: 1;
}

.landingPage {
  /* font-size: 20vw; */
  /* font-size: 250px; */
  grid-template-rows: 45vh 45vh;
  /* letter-spacing: 10px; */
  /* line-height: 100px; */
  color: #e5dada;
  /* color: rgba(9, 106, 151, 0.315); */
  font-weight: 700;
}

.landingPage a {
  font-weight: 700;
}

.landingPageSmaller {
  line-height: 100px;
  font-weight: 700;
}
