@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  max-width: 1280px;
  margin: 0 auto;
  margin: 0rem 2rem;
  text-align: center;
}

.LandingPageBG {
  background-image: url("./component/LandingPage/assets/LandingPage.png");
  background-size: 100% 100%;
  background-position: center;
  opacity: 0.5;
}

.HeroBG {
  background-image: url("./component/Portfolio/HeroSection/assets/HeroBG.png");
  background-size: 100% 100%;
  background-position: center;
  opacity: 0.5;
}

.QualificationsBG {
  background-image: url("./component/Portfolio/SectionSkillsAndKnowledge/assets/QualificationsBG.png");
  background-size: 100% 100%;
  background-position: center;
  opacity: 0.5;
}

.landingPage {
  -webkit-text-stroke: #274746;
  -webkit-text-stroke-width: 1px;
  /* font-size: 20vw; */
  /* font-size: 250px; */
  grid-template-rows: 50vh 50vh;
  /* letter-spacing: 10px; */
  /* line-height: 100px; */
  color: #e5dada;
  /* color: rgba(9, 106, 151, 0.315); */
  font-weight: 700;
}

.landingPage a {
  font-weight: 700;
}

.landingPageSmaller {
  font-weight: 700;
}

.stroked {
  -webkit-text-stroke: #87bdc2;
  -webkit-text-stroke-width: 1px;
}
